body {
  margin-top: 50px;
}
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  margin-bottom: 20px;
}
.flip-container:hover .flipper {
  -webkit-transform: rotateY(10deg);
  -moz-transform: rotateY(10deg);
  transform: rotateY(10deg);
}
.flip-container.flipped .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flipper {
  height: 250px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: hand;
  cursor: pointer;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.flipper:after {
  content: attr(data-content);
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.chart-holder,
.details-holder {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.chart-holder {
  z-index: 2;
}
.chart-holder p {
  position: absolute;
  bottom: 7px;
  right: 20px;
  font-size: 10px;
  color: #aaaaaa;
  font-style: italic;
}
.details-holder {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  text-align: center;
}
.details-holder h4 {
  padding: 20px;
}
.details-holder .progress {
  padding: 20px;
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.details-holder img {
  height: 128px;
  width: 128px;
}
.chart {
  position: relative;
  width: 920px;
  height: 210px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
